<!DOCTYPE html>
<html>
    <head>
        <title>Buster's Best Bowling Alley</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <p>Buster's Best Bowling Alley</p>
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <p>Bet You Can't Bowl A Strike Every Time</p>
        <p>97 Bowling Alley Lane, Boulder CO </p>
    </body>
</html>
